@import "font/font.css"; /*Fuente personalizada */


body{ 
/*    color: pink; Rosa :3 */
   font-family: 'lillyregular'; /*Accedemos a la fuente personalizada*/
}

/*Accedemos a toda la clase login*/
.login{
        width: 300px; /* Damos el Ancho de la clase login*/      
}

/*Accedemos al fieldset dentro de la clase login*/
.login fieldset{
    border: 1px solid silver; /*Hacemos que los bordes sean mas delgados para el fieldset*/
}

/*Accedemos a todos los input dentro de la clase login*/

.login input,
.login button { /*Agregamos la fuente de letra a nuestro boton*/
        /*font-family: 'lillyregular';Todos los imput tendran una fuente personalizada
        */
}

/*Accedemos a los input que tengan el tipo text y tipo password*/

.login input[type = text],
.login input[type = password]{
    text-align: center;/*Centra el texto*/
    padding: .5em .6em ;/* Modificamos o alteramos el Tamaño  de la caja de texto*/
    border: 1px solid #ccc; /*borde de un pixel sera  solido y gris más clarito aun :3 */
    box-shadow: inset 0 1px 3px #ddd;/*Sombra */
    border-radius: 4px;  /*los bordes seran un poco redondeados y no cuadrados <.< */
}

/*Accedemos a los input que tengan el tipo submit y tipo reset*/

.login input[type = submit],
.login input[type = reset],
.login button /*Agregamos a nuestro boton un estilo*/
{
    color: #fff;
    background-color: #0066CC; /*Color del boton sera azulito /
        color : #fff; Color de letra Blanca :v 
        /*padding : .5em 1em ; /*tamaño */
    border: 0; /*Quitamos los bordes :v */
    border-radius: 4px; /*Redondeamos los botones un poco ^_^*/
    cursor: pointer; /*Cuando el mouse se ponga ensima del boton se convertira en una manito D: */
}

/* el efecto Hover le decimos que cuando el mouse este
encima del boton submit y reset*/

.login input[type = submit]:hover,
.login input[type = reset]:hover,
.login button:hover /* Hover(Cuando el mouse esta encima del objeto)*/{
    
   background-image : linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));/*Cuando el mouse se ponga encima
   cambiara de color :3 mas conocido como efecto Hover */
}


/*Accedemos a la etiqueta a de html*/
a{
    color:  #0078e7; /*Pongemos el color de la letra sera la misma que el fondo de los botones azulito claro ^_^*/
    text-decoration: none; /*Estos lo ascemos para quitar esa raya molesta de nuestro texto <.<*/   
}
